@use "sass:string";

/// 字符串 模块扩展
/// @function str-replace($source, $search, $replace)
/// -----------------------------------------------------

/// 字符串替换
/// @param {string} $source 原始字符串
/// @param {string} $search 待替换的字符串
/// @param {string} $replace 替换的字符串
/// @return {string} 替换后的字符串
///-----------------------------------------------------
@function str-replace($source, $search, $replace: "") {
  $index: string.index($source, $search);
  @if $index {
    $slice1: string.slice($source, 1, $index - 1);
    $slice2: str-replace(string.slice($source, $index + string.length($search)), $search, $replace);
    @return $slice1 + $replace + $slice2;
  }
  @return $source;
}
